<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
</head>
<body>
    <h1>Crypto Prices</h1>
    <table>
        <thead>
            <tr>
                <th>Coin</th>
                {% for exchange in prices['Bitcoin'] %}
                    <th>{{ exchange }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for coin in prices %}
                <tr>
                    <td>{{ coin }}</td>
                    {% for exchange in prices[coin] %}
                        <td>{{ prices[coin][exchange] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Crypto Arbitrage</h1>
    <table>
        <thead>
            <tr>
                <th>Coin</th>
                {% for exchange in prices['Bitcoin'] %}
                    <th>{{ exchange }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for coin in prices %}
                <tr>
                    <td>{{ coin }}</td>
                    {% for exchange in prices[coin] %}
                        <td>{{ arbitrage[coin][exchange] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
